@page
@model MoviesApp.Pages.LoginModel
@{
}

<h3>Login Page</h3>

<p>Click the button below to login as an Admin user (age 25)</p>

<form method="post">
    <button type="submit" class="btn btn-primary">Login as Admin</button>
</form>